{% extends 'base.html' %}
<html>
<head>
    {% block head %}
    <title>Login</title>
    {% endblock %}


</head>
<body onload="checkCookie()">
{% block body %}
<div class="container">
    <h1>Welcome</h1>
    <p>
        You can log in here!
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" id="submit">Login</button>
    <a href="/accounts/password-reset"><button type="button">Forget Password</button></a>
    </form>
    <script>
$(document).ready(
function(){
    checkCookie();

});
function setCookie(cname,cvalue) {
    document.cookie = cname + "=" + cvalue + ";path=/";
}

function getCookie(login_count) {
    var name = login_count + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function checkCookie() {
var classofErrorList = document.getElementsByClassName('errorlist');
var classofErrorListNotFeild = document.getElementsByClassName('errorlist nonfield');
if(classofErrorList.length > 0 || classofErrorListNotFeild.length > 0){
    var count =getCookie("login_count");
    if (count !== "") {
           var login_count = parseInt(count);
           if(login_count > 2){
			document.getElementById("submit").disabled = true;
			    alert("Login attempts are finish. Close the browser and try again");
		}
           login_count = login_count+1;
           setCookie("login_count", login_count);
    } else {
      var login_count = 1;
           setCookie("login_count", login_count);
    }
  }
}
</script>
</div>
</body>
{% endblock %}
</html>
