{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Profile</title>
    {%endblock%}
</head>
<body>
{%block body%}
<div class="container">
    <strong><h3>Hello {{user}}!!!</h3></strong>
    <h4>First Name : <p><font color="red">{{user.first_name}}</font></p></h4>
    <h4>Last Name : <p><font color="red">{{user.last_name}}</font></h4>
    <h4>Email : <p><font color="red">{{user.email}}</font></h4>
    <a href="/accounts/view_profile/edit_profile"><button type="button">Edit your Profile</button></a>
    <a href="/accounts/change-password"><button type="button">Change your password</button></a>
       {%endblock%}
</div>
</body>
</html>