{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Profile</title>
    {%endblock%}
</head>
<body>
{%block body%}
<div class="container">
    <h1>Profile</h1>
    <img src="{{ user.userprofile.image.url}}" width="240">
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    <p>City: {{ user.userprofile.city }}</p>
    <p>Website: {{ user.userprofile.website }}</p>
    <a href="/accounts/view_profile/edit_profile"><button type="button">Edit your Profile</button></a>
    <a href="/accounts/change-password"><button type="button">Change your password</button></a>
       {%endblock%}
</div>
</body>
</html>